#education {
    overflow: hidden;
  }
  
  #education h1 {
    background-color: #6b705c;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 50px;
    color: #FAFAFA;
    padding: 20px 0 20px 30px;
  }
  
  #education .box-education {
    width: 60%;
    margin: 50px auto 50px auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  
  #education .box-education .box-title-education {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 15px;
    padding-top: 10px;
  }
  
  .logo-education {
    width: 70px;
    margin-left: 10px;
    margin-right: 20px;
  }
  
  .logo-education2 {
    width: 120px;
    margin-left: 10px;
    margin-right: 20px;
  }
  
  #education .box-education .box-title-education .left-part {
    display: flex;
    align-items: center;
  }
  
  #education .box-education .box-title-education h2 {
    text-transform: uppercase;
    font-weight: 200;
    color: #6b705c;
    margin-top: 10px;
  }
  
  #education .box-education .box-title-education .fa-link {
    padding-right: 25px;
  }
  
  .fa-link {
    font-size: 20px !important;
  }
  
  .fa-link:hover {
    color: #6B705C;
  }
  
  #education .box-education hr {
    width: 100%;
  }
  
  #education .box-education .contenu {
    padding: 30px 20px 10px 20px;
    border-top: 1px solid grey;
  }
  
  #education .box-education .contenu .what-is-it {
    padding-bottom: 10px;
    padding-top: 5px;
    font-size: 15px;
    font-style: italic;
  }
  
  #education .box-education h4 {
    color: #836953;
    font-size: 19px;
    font-weight: 400;
  }
  
  #education .box-education .contenu h5 {
    text-transform: uppercase;
    font-weight: 200;
  }
  
  #education .box-education .contenu li {
    margin-left: 15px;
    padding-top: 5px;
    font-size: 15px;
  }
  
  #education .box-education .contenu ul {
    margin-bottom: 25px;
    margin-top: 10px;
  }
  
  #education .box-education .box-date {
    background-color: #F7F7F7;
    padding-top: 15px;
  }
  
  #education .box-education .box-date .date {
    padding-left: 20px;
  }
  
  
  /* MEDIA QUERIES */
  
  
  @media(max-width: 480px) and (min-width: 320px) /* iPhone & other */ {
  
    #education h1 {
      font-size: 30px;
    }
  
    #education .box-education {
      width: 90%;
    }
  
    #education .box-education .box-title-education h2 {
      font-size: 20px;
    }
  
    #education .box-education .box-title-education .responsive-education-title {
      font-size: 15px;
    }
  }
  
  @media(max-width: 1000px) and (min-width: 481px) /* ipad & ipad pro */ {
  
    #education .box-education {
      width: 80%;
    }
  }